*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

h1{
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 1%;
}

h4{
  text-align: center;
  padding-bottom: 5%
}

p{
  font-size: 0.8rem;
  color: grey;
}


/* header */

header{
  background-color: lightgrey
}

.barra-fixed{
  background-color: black;
  opacity: 0.4;
  width: calc(100% - 230px);
  height: 80px;
  position: fixed;
  top: 0;
  left: 230px;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
}

button{
  min-width: 20%;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin: 2% 2%;
  transition: all 1s;
}

button:hover{
  transform: scale(1.1);
}


/* main */

main{
  height: calc(100vh - 90px);
  overflow: hidden;
}

#wrapper{
  width: 100%;
  /* height: 100vh;   */
  background-color: black;
}

#wrapper::after{
  content: "";
  display: table;
  clear: both;
}

#logo{
  width: 50%;
  margin: 8% 0;
}


li{
  color: white;
  list-style-type: none;
}


/* regole main-nav */

.hamburger{
  display: none;
}

.main-nav{
  float: left;
  width: 230px;
  height: calc(100vh - 90px);
  min-height: 480px;
  padding-left: 1%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-nav li img{
  width: 9%
}

.logo-icone-principali{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logo-icone-principali li{
  font-size: 0.8rem;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
}

.home a{
  text-decoration: none;
  color: grey;
}

.home a:hover{
  color: white
}

.crea-playlist a{
  text-decoration: none;
  color: grey;
}

.crea-playlist a:hover{
  color: white;
}

.crea-playlist{
  padding-top: 6%;
  color: white;
}

.crea-playlist li{
  color: grey;
  padding-bottom: 4%;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
}

.crea-playlist li:first-child{
  padding-top: 7%
}

.grey-icon{
  background-color: grey;
  border-color: transparent;
  padding: 2% 2%;
}

.nome-playlist i{
  font-size: 1rem;
  color: black;
}


/* regole div profilo */

.profilo{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profilo span{
  font-size: 0.7rem
}

.prima-riga-profilo{
  display: flex;
  align-items: center;
}

.prima-riga-profilo span{
  color: grey;
}

.linea-divisoria{
  width: 90%;
  height: 1px;
  margin: 2% 0;
  background-color: white;
}

.seconda-riga-profilo{
  display: flex;
  align-items: center;
}

.seconda-riga-profilo span{
  font-weight: bold;
}

#download{
  width: 6%;
  margin: 0 2%;
}

#omino{
  width: 10%;
  background-color: grey;
  border-radius: 50px;
  margin: 2% 2%;
}



/* regole blocco centrale */


.upgrade ul{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 112px;
}

.upgrade li{
  width: 12%;
  list-style-type: none;
  padding-right: 2%;
  font-size: 0.8rem;
}


.menu a{
  text-decoration: none;
  color: grey;
}

.menu a:hover{
  color: white;
  border-bottom: 1px solid green;
}




/* regole section content */

.content{
  float: left;
  width: calc(100% - 230px);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #141922;
  color: white;
}


.playlist{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 1%;
}

.playlist p{
  text-align: center;
}

.playlist li{
  list-style-type: none;
  padding-right: 0.5%;
  width: 100%;
  height: auto;
}

.playlist li img{
  width: 100%;
}

.playlist li img:hover{
  opacity: 0.4;
}

.plus-hover{
  position: relative;
}


.plus-hover i{
  font-size: 4rem;
  color: lightgrey;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus-hover:hover i{
  display: block;
}



.john-doe p{
  padding-left: 1%;
  padding-bottom: 1%;
}

.playlist-personalizzata{
  width: 30%;
  padding-left: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.playlist-personalizzata li{
  list-style-type: none;
  padding-right: 2%;
}

.playlist-personalizzata li img{
  width: 100%;
}

.playlist-personalizzata li img:hover{
  opacity: 0.4;
}

/* regole div artisti */

.artisti p{
  padding-left: 1%;
  padding-bottom: 1%;
}

.artisti-popolari{
  width: 30%;
  padding-left: 1%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.artisti-popolari li{
  list-style-type: none;
  padding-right: 2%;
}

.artisti-popolari li img{
  width: 100%;
  border-radius: 50%;
}

.artisti-popolari li img:hover{
  opacity: 0.4;
}


/* footer */

footer{
  height: 90px;
  background-color: #282828;
}

#player{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 height: 100%;
}

#player::after{
  content: "";
  display: table;
  clear: both;
}

.col33{
  width: calc(100% / 3);
  height: 80px;
  float: left;
  display: flex;
  justify-content: center;
}

.brano{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imm-brano{
  width: 10%;
  margin: 2% 1%;
}

.brano h2{
  font-size: 0.8rem;
  color: white;
}

.brano p{
  font-size: 0.7rem;
  color: grey;
}

.icone{
  padding-left: 12%
}

.icone-play{
  width: 100%;
  text-align: center;
}

.icone-play i{
  padding-right: 4%
}

.brano i{
  color: grey;
}

.play{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.riproduzione{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.riproduzione span{
  color: white;
  font-size: 0.8rem;
}

.linea-scorrimento{
  width: 95%;
  height: 2px;
  margin: 2% 4%;
  background-color: grey;
}

.secondi{
  background-color: white;
  height: 2px;
  width: 25%;
}

.volume i{
  margin-right: 2%;
  font-size: 0.7rem;
}

i{
  color: white;
  font-size: 0.8rem;
}

.volume{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.linea-volume{
  width: 30%;
  height: 2px;
  background-color: grey;
}

.altezza-vol{
  background-color: white;
  height: 2px;
  width: 15%;
}



/* regole responsiveness */

@media screen and (max-width: 768px) {
  .upgrade ul{
    flex-wrap: wrap;
    padding-top: 15%;
    height: 145px;
  }

  .upgrade li{
    min-width: 20%;
  }

  .playlist{
    justify-content: flex-start;
    flex-wrap: wrap;
    min-width: 1%;
  }

  .playlist li{
    width: 22%;
    margin-right: 3%;
  }

  .playlist li img{
    min-width: 110%;
  }

  .playlist-personalizzata{
    min-width: 50%;
  }

  .artisti-popolari{
    min-width: 50%;
  }

}

@media screen and (max-width:420px) {

  .barra-fixed{
    width: calc(100% - 40px);
    left: 40px;
  }

  .main-nav{
    width: 40px
  }

  .logo-icone-principali{
    display: none;
  }

  .hamburger{
    display: block;
  }

  .hamburger a img{
    width: 60%;
    padding-top: 12%;
  }

  .content{
    width: calc(100% - 40px)
  }

  .crea-playlist{
    display: none
  }

  .upgrade ul{
    flex-wrap: wrap;
    padding-top: 15%;
    height: 145px;
  }

  .upgrade li{
    min-width: 20%;
  }

  .playlist{
    justify-content: flex-start;
    flex-wrap: wrap;
    min-width: 1%;
  }

  .playlist li{
    width: 44%;
    margin-right: 6%;
  }

  .playlist li img{
    min-width: 110%;
  }

  .playlist-personalizzata{
    min-width: 100%;
  }

  .artisti-popolari{
    min-width: 100%;
  }
}
