*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

h1{
  padding-top: 2%
}

h4{
  text-align: center;
  padding-bottom: 5%
}

p{
  font-size: 0.8rem;
  color: grey;
}


/* header */
header{
  background-color: lightgrey
}

.barra-fixed{
  background-color: black;
  opacity: 0.4;
  width: calc(100% - 230px);
  height: 80px;
  position: fixed;
  top: 0;
  left: 230px;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
}

button{
  width: 20%;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin: 2% 2%;
  transition: all 1s;
}

button:hover{
  transform: scale(1.1);
}


/* main */

main{
  height: calc(100vh - 90px);
  overflow: hidden;
}

#wrapper{
  width: 100%;
  /* height: 100vh;   */
  background-color: black;
}

#wrapper::after{
  content: "";
  display: table;
  clear: both;
}

.main-nav{
  float: left;
  width: 230px;
  height: 100%;
  min-height: 480px;
  padding-left: 1%;

}

#logo{
  width: 50%;
  margin: 8% 0;
}

.main-nav li img{
  width: 9%
}


li{
  color: white;
  list-style-type: none;
}

.home a{
  text-decoration: none;
  color: grey;
}

.home a:hover{
  color: white
}

.crea-playlist a{
  text-decoration: none;
  color: grey;
}

.crea-playlist a:hover{
  color: white;
}

/* blocco centrale */


.upgrade ul{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 112px;
}

.upgrade li{
  list-style-type: none;
  padding-right: 2%;
  font-size: 0.8rem;
}

.linea-verde{
  border: 1px solid green;
  width: 45px;
  position: relative;
  left: 24%;
  top: 28%;
}

.menu a{
  text-decoration: none;
  color: grey;
}

.menu a:hover{
  color: white;
}

.crea-playlist{
  padding-top: 6%;
  color: white;
}

.crea-playlist li{
  color: grey;
  padding-bottom: 4%;
  font-size: 0.8rem;
}

.crea-playlist li:first-child{
  padding-top: 7%
}

.profilo{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profilo span{
  flex-direction: column;
  align-self: flex-end;
}

.profilo img{
  width: 10%
}

.content{
  float: left;
  width: calc(100% - 230px);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #141922;
  color: white;
}

/* ul blocco centrale */


.playlist{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* width: 100%;
  height: auto; */
}

.playlist p{
  text-align: center;
}

.playlist li{
  list-style-type: none;
  padding-right: 0.5%;
  width: 100%;
  height: auto;
}

.playlist li img{
  width: 100%
}

.playlist li img:hover{
  opacity: 0.4;
}

.playlist-personalizzata{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}

.playlist-personalizzata li{
  list-style-type: none;
  padding-right: 2%
}

.playlist-personalizzata li img{
  width: 100%
}

.playlist-personalizzata li img:hover{
  opacity: 0.4;
}

.artisti-popolari{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%
}

.artisti-popolari li{
  list-style-type: none;
  padding-right: 2%;
}

.artisti-popolari li img{
  width: 100%;
  border-radius: 50%;
}

.artisti-popolari li img:hover{
  opacity: 0.4;
}

/*  */

/* footer */
footer{
  height: 90px;
  background-color: #282828;
}

#player{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nome-brano h2{
  display: inline-block;
  color: white;
  font-size: 0.8rem;
}

.nome-brano p{
  font-size: 0.7rem;
}

.imm-brano img{
  width: 10%;
  margin: 2% 1%;
}

.imm-brano{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.icone{
  width: 30%;
  color: grey;
  margin-left: 9%;
}

.icone i{
  margin-right: 7%;
}


.barra-scorrimento{
  width: 40%;
}

.barra-scorrimento i{
  color: white;
  margin-right: 8%
}

.linea-musica{
  width: 44%;
  height: 3px;
  background-color: white;
  position: absolute;
  top:auto;
  left: 21%;
}


.barra-volume{
  width: 5%;
}

.barra-volume i{
  font-size: 0.8rem;
  color: white;
  margin-right: 8%
}


.linea-volume{
  width: 15%;
  display: inline-block;
  text-align: center;
  height: 3px;
  background-color: white;
}
